@import "./fonts.scss";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  background: transparent;
  font-family: "SF Pro Display";
}

body {
  font-size: 16px;
  background: #fafafa;
}

::-moz-selection {
  color: #fff;
  background: #512da8;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #512da8;
  text-shadow: none;
}

button {
  cursor: pointer;
}

button:focus {
  cursor: in;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.75px;
  color: #272b46;
}

h2 {
  color: #272b46;
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.5px;
}

h3 {
  color: #272a47;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.5px;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes spinner-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 2rem;
  height: 2rem;
  margin: 2rem auto;
  border-radius: 50%;
  vertical-align: text-bottom;
  border: 0.25em solid #512da8;
  border-right-color: transparent;
  animation: 0.75s linear infinite spinner-border;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 2.5rem;
  background: #fff;
  border-bottom: 1px solid #d5e3ec;

  &__logo {
    font-weight: 800;
    font-size: 24px;
    line-height: 140%;
    color: #512da8;
  }

  &__nav {
    display: flex;
    align-items: center;

    &:last-child {
      margin-left: auto;
    }
  }

  &__navItem + &__navItem {
    margin-left: 1rem;
  }

  &__notif {
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: background-color 0.1s ease-out;

    &:hover {
      background-color: rgba(154, 185, 206, 0.1);
    }

    span {
      top: 0;
      right: 0;
      padding: 0 3px;
      font-size: 9px;
      font-weight: 500;
      position: absolute;
      min-width: 14px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.4px;

      color: #f8fcff;
      border-radius: 7px;
      background: #ee2c5b;
    }

    .reactIcon {
      color: #272a47;
    }
  }

  &__avatar {
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__menuBtn {
    cursor: pointer;
    position: relative;
  }
}

.dropMenu {
  right: 0;
  top: calc(100% + 0.5rem);
  z-index: 99;
  overflow: hidden;
  position: absolute;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 8px 24px -6px rgba(59, 69, 75, 0.08);

  &__listItem {
    display: flex;
    color: #262626;
    font-size: 14px;
    text-align: start;
    padding: 12px 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background-color 0.1s ease-out;

    &:hover {
      background-color: rgba(154, 185, 206, 0.1);
    }

    & + &_border {
      border-top: 1px solid #d5e3ec;
    }
  }
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #272a47;
  font-size: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 2.5rem;
  color: #272a47;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  border-radius: 4px;
  mix-blend-mode: normal;
  transition-property: border-color, background-color, color, transform, box-shadow, opacity;
  transition-duration: 0.15s;
  transition-timing-function: ease;

  svg {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  &_primary {
    color: #fff;
    background-color: #512da8;
    border: 0.5px solid #512da8;

    &:hover {
      color: #512da8;
      background-color: transparent;
      border: 0.5px solid #512da8;
    }
  }

  &_secondary {
    color: rgb(248, 252, 255);
    background-color: rgb(39, 42, 71);
    border: 0.5px solid rgb(39, 42, 71);

    &:hover {
      color: rgb(39, 42, 71);
      background-color: transparent;
      border: 0.5px solid rgb(39, 42, 71);
    }
  }

  &_loading {
    cursor: initial;
    color: transparent !important;

    &::after {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      border-radius: 50%;
      border: 0.25em solid #512da8;
      border-right-color: transparent;
      animation: 0.75s linear infinite spinner-border;
    }
  }

  &_border {
    background-color: #fff;
    border: 0.5px solid #d5e3ec;

    &:hover {
      color: rgb(39, 42, 71);
      background-color: transparent;
      border: 0.5px solid rgb(39, 42, 71);
    }
  }

  &_gray {
    background: rgba(154, 185, 206, 0.1);
  }

  &:disabled {
    cursor: not-allowed !important;
    color: rgba(39, 42, 71, 0.4) !important;
    border: 0.5px solid #d5e3ec !important;
    background-color: #fff !important;

    &:hover {
      opacity: 1;
    }
  }
}

.content {
  width: 100%;

  &__head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d5e3ec;
    padding: 3rem calc((100% - 870px) / 2);
  }

  &__desc {
    color: #272b46;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.04em;
    margin-top: 1rem;
  }

  &__body {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 3rem calc((100% - 870px) / 2) 120px;
  }

  &__grid {
    width: 100%;
    display: grid;
    column-gap: 12px;
    grid-template-columns: 14rem auto;
  }
}

.component {
  width: 100%;
  border-radius: 4px;
  background: #fff;
  padding: 2.5rem;
  border: 1px solid #d5e3ec;
  margin-bottom: 12px;

  font-size: 16px;
  color: #272a47;
  line-height: 140%;
  letter-spacing: 0.4px;

  &_sm {
    max-width: 540px;
  }

  &__title {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__desc {
    color: rgba(39, 43, 70, 0.8);
    margin-bottom: 1.5rem;
    text-align: center;

    * + & {
      margin-top: 1.5rem;
    }
  }

  &__text {
    text-align: center;
  }

  &__link {
    color: #512da8;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-flow: column;
  max-width: 458px;
  margin: auto;

  &__inputs {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;

    & + & {
      padding-top: 20px;
      border-top: 1px solid #d5e3ec;
    }
  }

  &__inputsTitle {
    margin-bottom: 0.5em;
  }

  &__input {
    width: 100%;
    height: 2.5rem;
    padding: 0 12px;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: rgb(39, 42, 71);
    border: 1px solid #d5e3ec;
    transition: border 0.1s ease-out;
    border-radius: 4px;

    &::placeholder {
      color: rgba(39, 42, 71, 0.6);
    }

    &:focus {
      border: 1px solid #272a47;
    }

    & + & {
      margin-top: 12px;
    }
  }

  &__inputGroup {
    display: flex;
    font-size: 14px;
    align-items: center;
    letter-spacing: 0.4px;
    color: rgb(39, 42, 71);
  }

  &__inputGroupText {
    display: flex;
    height: 2.5rem;
    padding: 0 12px;
    align-items: center;
    color: rgba(39, 42, 71, 0.5);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: 1px solid #d5e3ec;
    border-left: 1px solid #d5e3ec;
    border-bottom: 1px solid #d5e3ec;
    background-color: rgba(154, 185, 206, 0.1);

    svg {
      font-size: 1rem;
    }
  }

  &__inputGroupInput {
    width: 20rem;
    height: 2.5rem;
    padding: 0 12px;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: rgb(39, 42, 71);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #d5e3ec;
    transition: border 0.1s ease-out;

    &::placeholder {
      color: rgba(39, 42, 71, 0.6);
    }

    &:focus {
      border: 1px solid #272a47;
    }
  }

  &__link {
    color: #272a47;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.4px;
    margin-top: 20px;
  }

  &__details {
    display: flex;
    flex-flow: column;
    color: rgba(39, 42, 71, 0.6);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.5px;

    * + & {
      margin-top: 12px;
    }
  }

  &__detailsTitle {
    margin-bottom: 12px;

    * + & {
      margin-top: 12px;
    }
  }

  &__detailsText {
    a {
      color: rgba(39, 42, 71, 0.6);
      text-decoration: underline;
    }
  }

  &__btn + &__btn {
    margin-top: 12px;
  }
}

.create {
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: url(../img/coffee.svg) no-repeat bottom center;
}

.editor {
  &__wrap {
    border-radius: 4px;
    border: 1px solid #d5e3ec;
  }

  &__toolbar {
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.04em;
    color: #272b46;

    border: 0 !important;
    margin: 0 !important;
    border-bottom: 1px solid #d5e3ec !important;
    padding: 12px !important;
  }

  &__editor {
    padding: 12px;

    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.04em;
    color: #272b46;
  }
}

.dropdownGroup {
  width: 100%;
  display: flex;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d5e3ec;
  margin-bottom: 12px;
}

.dropdown {
  flex: 1 1 0;
  display: flex;
  height: 2.5rem;
  align-items: center;
  padding: 12px 20px;
  position: relative;

  & + &::before {
    top: 12px;
    left: 0;
    content: "";
    width: 1px;
    height: 1rem;
    position: absolute;
    background-color: #d5e3ec;
  }

  &__title {
    font-size: 14px;
    letter-spacing: 0.4px;
    color: rgba(39, 42, 71, 0.5);
  }
}

.footer {
  width: 100%;
  padding: 2rem calc((100% - 870px) / 2) 0.5rem;
  border-top: 1px solid #d5e3ec;
  background-color: #fff;

  &__content {
    gap: 20px;
    display: grid;
    padding: 1rem 0;
    grid-template-columns:  25% 25% auto;
  }

  &__title {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: rgba(39, 43, 70, 1);
    margin-bottom: 0.5rem;
  }

  &__listItem {
    height: 2rem;
    display: flex;
    font-size: 14px;
    line-height: 140%;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(39, 42, 71, 0.7);
    transition: color 0.1s ease-out;

    a {
      color: initial;
    }

    &:hover {
      color: rgba(39, 42, 71, 1);
    }
  }

  &__address {
    font-size: 14px;
    line-height: 160%;
    font-style: normal;
    letter-spacing: 0.04em;
    color: rgba(39, 42, 71, 0.7);
    padding-top: 0.5rem;
  }

  &__payments {
    display: flex;
    padding: 1rem 0;
    font-size: 2rem;
    color: rgba(39, 42, 71, 0.7);

    & > * + * {
      margin-left: 1rem;
    }
  }

  &__copyright {
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-between;

    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: rgba(39, 42, 71, 0.7);
  }
}
