.post {
    width: 100%;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #d5e3ec;

    & + & {
        margin-top: 12px;
    }

    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 1rem;
        background: linear-gradient(to right, #f953c6, #b91d73);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        border-bottom: 0.5px solid #d5e3ec;
    }

    &__authorName {
        color: #272a47;
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.6px;
    }

    &__content {
        width: 100%;
    }

    &__meta {
        width: 100%;
        display: flex;
        padding: 20px;
        align-items: center;
    }

    &__statusTitle {
        color: #272a47;
        font-size: 14px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.5px;
        border-radius: 4px;
        padding: 2px 0.5rem;
        background: #ffd28f;
    }

    &__createdAt {
        opacity: 0.6;
        color: #272a47;
        font-size: 14px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.5px;
        margin-left: 12px;
    }

    &__title {
        font-size: 26px;
        font-weight: bold;
        line-height: 120%;
        letter-spacing: 0.75px;
        text-decoration-line: underline;
        color: #272b46;
        padding: 0 20px 20px;
    }

    &__text {
        padding: 0 20px 20px;
        color: #272b46;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.04em;
    }

    &__cover {
        width: 100%;
        padding-bottom: 20px;
        img {
            width: 100%;
        }
    }
}

.comments {
    list-style: none;
    padding: 0 20px 20px;
}

.comment {
    display: flex;
    align-items: center;

    & + & {
        margin-top: 12px;
    }

    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        min-width: 2.5rem;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 12px;
    }

    &__name {
        color: #272b46;
        font-size: 14px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.04em;
        margin-bottom: 0.5em;
    }
    &__text {
        color: #272b46;
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 0.5em;
    }

    &__info {
        display: flex;
        font-size: 14px;
        letter-spacing: 0.4px;
        color: rgba(39, 42, 71, 0.5);

        & > * + * {
            &::before {
                content: "\00B7";
                margin-left: 0.5em;
                margin-right: 0.5em;
            }
        }
    }
}

.commentForm {
    display: flex;
    padding: 0 20px 20px;

    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        min-width: 2.5rem;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 12px;
    }
}
