.post {
    width: 100%;
    border-radius: 4px;
    background: #fafafa;
    border: 1px solid #d5e3ec;

    & + & {
        margin-top: 0.5rem;
    }

    &__head {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        border-bottom: 0.5px solid #d5e3ec;
    }

    &__authorName {
        color: #272a47;
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.6px;
    }

    &__body {
        width: 100%;
        padding: 20px 0 1.5rem;
    }

    &__meta {
        width: 100%;
        display: flex;
        padding: 0 20px;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    &__statusTitle {
        color: #272a47;
        font-size: 14px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.5px;
        border-radius: 4px;
        padding: 2px 0.5rem;
        background: #ffd28f;
    }

    &__createdAt {
        opacity: 0.6;
        color: #272a47;
        font-size: 14px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.5px;
        margin-left: 12px;
    }

    &__titleWrap {
        width: 100%;
        padding: 0.5rem 20px 1rem;
    }

    &__title {
        font-size: 26px;
        font-weight: bold;
        line-height: 120%;
        letter-spacing: 0.75px;
        text-decoration-line: underline;
        color: #272b46;
    }

    &__content {
        width: 100%;
        margin-bottom: 1rem;

        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.04em;
        color: #272b46;

        img {
            width: 100%;
        }

        p {
            padding: 0 20px;
        }

        * + p,
        * + img {
            margin-top: 1rem;
        }
    }

    &__footer {
        padding: 0 20px;
    }

    &__readMoreBtn {
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.5px;
        color: #512da8;
    }
}
